.product-card{
    width: 300px;
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}
.product-card img {
    width: 100%;
    object-fit: cover; /* เพื่อให้รูปภาพเต็มพื้นที่โดยไม่บิดเบี้ยว */
    border-radius: 40px 40px 0px 0px;
    margin-bottom: 15px;
}
.product-card h3 {
    font-size: 1.5em;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.5;
}
.button{
    background-color: #007bff;
        display: block;
        margin: 0 auto;
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 50px;
        width: 150px;
        height: 50px;
    }
    .button:hover {
  background-color: #0056b3;
}